<!-- Dashboard App Layout -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index rendered</title>
        <base href="{{urlPrefix}}/">
        <link rel="stylesheet" href="{{urlPrefix}}/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet"  href="{{urlPrefix}}/assets/css/app.min.css"></style>
    </head>
    <body>
        <div data-ui-view='header'>
        </div>
        <div style="min-height: 560px;">
            <div data-ui-view='main'></div>
        </div>
        <div data-ui-view='footer'>
        </div>
        <!-- Scripts Part -->
        <script>
            var baseUrl = '{{urlPrefix}}';
        </script>

        <script type='text/javascript' data-main='{{urlPrefix}}/main.min.js' src='{{urlPrefix}}/assets/vendor/requirejs/require.js'></script>
    </body>
</html>
